.bgimage {
	height: 600px;
}
#monkeyDiv {
	position: relative;
	top: -386px;
	left: 318px;
}
button {
    background-color: #6b2b11;
    border: none;
    color: white;
    font-size: 18px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none; 
}
#buttonsHere {
	position: relative;
    top: -720px;
    left: 279px;
}
#lilBox {
	height: 34px;
    width: 10px;
    padding: 4px 30px;
    background-color: #6b2b11;
	border: 1px solid white;
	color: white;
    font-size: 25px;
    position: relative;
    top: -831px;
	left: 353px;
	text-align: center;
}